// Default variables
:root {
	--content-width-mg: 960px;
	--content-width-lg: 1200px;
	--bg-header-color: rgb(253, 253, 144);
	--contrast-main-color: rgb(93, 210, 161);
	--bg-box: rgb(248, 248, 248);
	--gray-text-1: rgb(165, 164, 164);
	--title-color: rgb(109, 106, 106);
	--space: 1rem;
	--radius: 15px;
}

