// Default variables
:root {
  --content-width-mg: 960px;
  --content-width-lg: 1200px;
  --bg-header-color: rgb(253, 253, 144);
  --contrast-main-color: rgb(93, 210, 161);
  --bg-box: rgb(248, 248, 248);
  --gray-text-1: rgb(165, 164, 164);
  --title-color: rgb(109, 106, 106);
  --links-bg-color: rgb(243, 173, 45);
  --tags-bg-color: rgb(76, 200, 241);
  --view-post-button-bg-color: rgb(44, 181, 123);
  --space: 1rem;
  --radius: 15px;
}
